<% provide(:btn, "Update") %>
<div class="container">
	<div class="row">
		<div class="col-md-5 col-md-offset-2">
			<h1>Edit Movie <%= @movie.title %></h1>
			<%= render 'form' %>
		</div>
	</div>	
</div>