<% provide(:btn, "Create") %>
<div class="container">
	<div class="row">
		<div class="col-md-5 col-md-offset-3">
			<h1 class="text-center">New Movie</h1>
			<%= render 'form' %>
		</div>
	</div>	
</div>